# Insurance Charges Regression Project (Full Notebook)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:

x= df.drop("charges", axis=1)
y= df["charges"]

In [4]:

print(df.isnull().sum())

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [5]:

x = pd.get_dummies(x, drop_first=True)
x.head()

,age,bmi,children,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,False,True,False,False,True
1,18,33.770,1,True,False,False,True,False
2,28,33.000,3,True,False,False,True,False
3,33,22.705,0,True,False,True,False,False
4,32,28.880,0,True,False,True,False,False

In [6]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.2, random_state=42
)

In [7]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [8]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [9]:
models = {
    "Linear Regression": LinearRegression(),
    "Ridge Regression": Ridge(alpha=1.0),
    "Lasso Regression": Lasso(alpha=0.1),
    "Decision Tree Regressor": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),

    }

best_model = None
best_r2 = -1



for name, model in models.items():
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)

    r2 = r2_score(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))

    print("Model:", name)
    print("R2 Score:", round(r2, 3))
    print("MAE:", round(mae, 2))
    print("RMSE:", round(rmse, 2))
    print("--------------------------")

    if r2 > best_r2:
        best_r2 = r2
        best_model = name

print("\nBest Model:", best_model)
print("Best R2 Score:", best_r2)

Model: Linear Regression
R2 Score: 0.784
MAE: 4181.19
RMSE: 5796.28
--------------------------
Model: Ridge Regression
R2 Score: 0.784
MAE: 4182.8
RMSE: 5796.98
--------------------------
Model: Lasso Regression
R2 Score: 0.784
MAE: 4181.23
RMSE: 5796.32
--------------------------
Model: Decision Tree Regressor
R2 Score: 0.723
MAE: 3135.96
RMSE: 6562.38
--------------------------
Model: Random Forest Regressor
R2 Score: 0.866
MAE: 2566.55
RMSE: 4555.73
--------------------------

Best Model: Random Forest Regressor
Best R2 Score: 0.8663132213785641