In [155]:
import pandas as pd

In [156]:
import numpy as np

In [157]:
df = pd.read_csv("loan_dataset_20000.csv")

In [158]:
df.head(5)

,age,gender,marital_status,education_level,annual_income,monthly_income,employment_status,debt_to_income_ratio,credit_score,loan_amount,...,loan_term,installment,grade_subgrade,num_of_open_accounts,total_credit_limit,current_balance,delinquency_history,public_records,num_of_delinquencies,loan_paid_back
0,59,Male,Married,Master's,24240.19,2020.02,Employed,0.074,743,17173.72,...,36,581.88,B5,7,40833.47,24302.07,1,0,1,1
1,72,Female,Married,Bachelor's,20172.98,1681.08,Employed,0.219,531,22663.89,...,60,573.17,F1,5,27968.01,10803.01,1,0,3,1
2,49,Female,Single,High School,26181.80,2181.82,Employed,0.234,779,3631.36,...,60,76.32,B4,2,15502.25,4505.44,0,0,0,1
3,35,Female,Single,High School,11873.84,989.49,Employed,0.264,809,14939.23,...,36,468.07,A5,7,18157.79,5525.63,4,0,5,1
4,63,Other,Single,Other,25326.44,2110.54,Employed,0.260,663,16551.71,...,60,395.50,D5,1,17467.56,3593.91,2,0,2,1

In [159]:
df.shape

(20000, 22)

In [160]:
df.columns

Index(['age', 'gender', 'marital_status', 'education_level', 'annual_income',
       'monthly_income', 'employment_status', 'debt_to_income_ratio',
       'credit_score', 'loan_amount', 'loan_purpose', 'interest_rate',
       'loan_term', 'installment', 'grade_subgrade', 'num_of_open_accounts',
       'total_credit_limit', 'current_balance', 'delinquency_history',
       'public_records', 'num_of_delinquencies', 'loan_paid_back'],
      dtype='object')

In [161]:
df.dtypes

age                       int64
gender                   object
marital_status           object
education_level          object
annual_income           float64
monthly_income          float64
employment_status        object
debt_to_income_ratio    float64
credit_score              int64
loan_amount             float64
loan_purpose             object
interest_rate           float64
loan_term                 int64
installment             float64
grade_subgrade           object
num_of_open_accounts      int64
total_credit_limit      float64
current_balance         float64
delinquency_history       int64
public_records            int64
num_of_delinquencies      int64
loan_paid_back            int64
dtype: object

In [162]:
df.describe()

,age,annual_income,monthly_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,loan_term,installment,num_of_open_accounts,total_credit_limit,current_balance,delinquency_history,public_records,num_of_delinquencies,loan_paid_back
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,48.027000,43549.637765,3629.136466,0.177019,679.25695,15129.300909,12.400627,43.22280,455.625794,5.011800,48649.824769,24333.394631,1.990150,0.061800,2.489150,0.799900
std,15.829352,28668.579671,2389.048326,0.105059,69.63858,8605.405513,2.442729,11.00838,274.622125,2.244529,32423.378128,22313.845395,1.474945,0.285105,1.631384,0.400085
min,21.000000,6000.000000,500.000000,0.010000,373.00000,500.000000,3.140000,36.00000,9.430000,0.000000,6157.800000,496.350000,0.000000,0.000000,0.000000,0.000000
25%,35.000000,24260.752500,2021.730000,0.096000,632.00000,8852.695000,10.740000,36.00000,253.910000,3.000000,27180.492500,9592.572500,1.000000,0.000000,1.000000,1.000000
50%,48.000000,36585.260000,3048.770000,0.160000,680.00000,14946.170000,12.400000,36.00000,435.595000,5.000000,40241.615000,18334.555000,2.000000,0.000000,2.000000,1.000000
75%,62.000000,54677.917500,4556.495000,0.241000,727.00000,20998.867500,14.002500,60.00000,633.595000,6.000000,60361.257500,31743.327500,3.000000,0.000000,3.000000,1.000000
max,75.000000,400000.000000,33333.330000,0.667000,850.00000,49039.690000,22.510000,60.00000,1685.400000,15.000000,454394.190000,352177.900000,11.000000,2.000000,11.000000,1.000000

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   20000 non-null  int64
 1   gender                20000 non-null  object
 2   marital_status        20000 non-null  object
 3   education_level       20000 non-null  object
 4   annual_income         20000 non-null  float64
 5   monthly_income        20000 non-null  float64
 6   employment_status     20000 non-null  object
 7   debt_to_income_ratio  20000 non-null  float64
 8   credit_score          20000 non-null  int64
 9   loan_amount           20000 non-null  float64
 10  loan_purpose          20000 non-null  object
 11  interest_rate         20000 non-null  float64
 12  loan_term             20000 non-null  int64
 13  installment           20000 non-null  float64
 14  grade_subgrade        20000 non-null  object
 15  num_of_open_accounts  20000 non-null  int64
 16  total_credit_limit    20000 non-null  float64
 17  current_balance       20000 non-null  float64
 18  delinquency_history   20000 non-null  int64
 19  public_records        20000 non-null  int64
 20  num_of_delinquencies  20000 non-null  int64
 21  loan_paid_back        20000 non-null  int64
dtypes: float64(8), int64(8), object(6)
memory usage: 3.4+ MB

In [164]:
df.isnull().sum()

age                     0
gender                  0
marital_status          0
education_level         0
annual_income           0
monthly_income          0
employment_status       0
debt_to_income_ratio    0
credit_score            0
loan_amount             0
loan_purpose            0
interest_rate           0
loan_term               0
installment             0
grade_subgrade          0
num_of_open_accounts    0
total_credit_limit      0
current_balance         0
delinquency_history     0
public_records          0
num_of_delinquencies    0
loan_paid_back          0
dtype: int64

In [165]:
from sklearn.preprocessing import LabelEncoder

In [166]:
lb = LabelEncoder()

In [167]:
for col in df.select_dtypes(include='object').columns:    
    df[col] = lb.fit_transform(df[col])
print(df.dtypes)

age                       int64
gender                    int64
marital_status            int64
education_level           int64
annual_income           float64
monthly_income          float64
employment_status         int64
debt_to_income_ratio    float64
credit_score              int64
loan_amount             float64
loan_purpose              int64
interest_rate           float64
loan_term                 int64
installment             float64
grade_subgrade            int64
num_of_open_accounts      int64
total_credit_limit      float64
current_balance         float64
delinquency_history       int64
public_records            int64
num_of_delinquencies      int64
loan_paid_back            int64
dtype: object

In [168]:
df.head(5)

,age,gender,marital_status,education_level,annual_income,monthly_income,employment_status,debt_to_income_ratio,credit_score,loan_amount,...,loan_term,installment,grade_subgrade,num_of_open_accounts,total_credit_limit,current_balance,delinquency_history,public_records,num_of_delinquencies,loan_paid_back
0,59,1,1,2,24240.19,2020.02,0,0.074,743,17173.72,...,36,581.88,9,7,40833.47,24302.07,1,0,1,1
1,72,0,1,0,20172.98,1681.08,0,0.219,531,22663.89,...,60,573.17,25,5,27968.01,10803.01,1,0,3,1
2,49,0,2,1,26181.80,2181.82,0,0.234,779,3631.36,...,60,76.32,8,2,15502.25,4505.44,0,0,0,1
3,35,0,2,1,11873.84,989.49,0,0.264,809,14939.23,...,36,468.07,4,7,18157.79,5525.63,4,0,5,1
4,63,2,2,3,25326.44,2110.54,0,0.260,663,16551.71,...,60,395.50,19,1,17467.56,3593.91,2,0,2,1

In [169]:
df['loan_paid_back'].value_counts()

loan_paid_back
1    15998
0     4002
Name: count, dtype: int64

In [170]:
x = df.drop(columns = ['loan_paid_back'])
y = df['loan_paid_back']

In [172]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state=42)
x_sm, y_sm = smote.fit_resample(x, y)

print(y_sm.value_counts())

loan_paid_back
1    15998
0    15998
Name: count, dtype: int64

In [173]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_scaled = sc.fit_transform(x_sm)
x_scaled = pd.DataFrame(x_scaled, columns = x_sm.columns)
x_scaled.head()

,age,gender,marital_status,education_level,annual_income,monthly_income,employment_status,debt_to_income_ratio,credit_score,loan_amount,...,interest_rate,loan_term,installment,grade_subgrade,num_of_open_accounts,total_credit_limit,current_balance,delinquency_history,public_records,num_of_delinquencies
0,0.759167,1.106350,-0.505683,1.051884,-0.659640,-0.659638,-0.846386,-1.182161,1.148655,0.244074,...,0.339767,-0.695139,0.464875,-1.024066,1.019091,-0.236352,-0.000949,-0.669571,-0.185811,-0.925326
1,1.636137,-0.813115,-0.505683,-0.885882,-0.800393,-0.800393,-0.846386,0.240655,-2.114280,0.892256,...,2.271225,1.641252,0.432557,1.748193,0.071714,-0.627323,-0.607080,-0.669571,-0.185811,0.377185
2,0.084575,-0.813115,1.034374,0.083001,-0.592447,-0.592445,-0.846386,0.387843,1.702738,-1.354766,...,-1.346981,1.641252,-1.411005,-1.197333,-1.349353,-1.006148,-0.889851,-1.386846,-0.185811,-1.576581
3,-0.859854,-0.813115,1.034374,0.083001,-1.087600,-1.087598,-0.846386,0.682219,2.164474,-0.019734,...,-2.019932,-0.695139,0.042583,-1.890397,1.019091,-0.925448,-0.844043,1.482256,-0.185811,1.679696
4,1.029004,3.025814,1.034374,2.020767,-0.622048,-0.622046,-0.846386,0.642969,-0.082641,0.170639,...,1.130703,1.641252,-0.226688,0.708596,-1.823042,-0.946424,-0.930780,0.047705,-0.185811,-0.274070

In [174]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [175]:
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y_sm, test_size = 0.2, random_state = 42)

In [177]:
models = {
    'Logistic Regression' : LogisticRegression(),
    'Decision Tree' : DecisionTreeClassifier(),
    'Random Forest' : RandomForestClassifier(),
    'SVM' : SVC(),
    'Naive Bayes' : GaussianNB(),
    'k-NN' : KNeighborsClassifier()
}

best_model = None
best_accuracy = 0

for name, model in models.items():
  model.fit(x_train, y_train)
  y_pred = model.predict(x_test)
  acu = accuracy_score(y_test, y_pred)
  print(f'{name} Accuracy: {acu}')

  if acu > best_accuracy:
    best_accuracy = acu
    best_model = name

print("\nBest Model:", best_model)
print("Best Accuracy:", best_accuracy)

Logistic Regression Accuracy: 0.793125
Decision Tree Accuracy: 0.81640625
Random Forest Accuracy: 0.903125
SVM Accuracy: 0.85078125
Naive Bayes Accuracy: 0.78203125
k-NN Accuracy: 0.82375

Best Model: Random Forest
Best Accuracy: 0.903125

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score, classification_report

model = RandomForestClassifier(random_state=42)

param_grid = {
    "n_estimators": [100, 200, 300],
    "max_depth": [None, 5, 10, 20],
    "min_samples_split": [2, 5, 10],
    "min_samples_leaf": [1, 2, 4]
}


tuned_model = GridSearchCV(
    estimator=model,
    param_grid=param_grid,
    cv=5,
    n_jobs=-1,
    scoring="accuracy"
)

# Fit
tuned_model.fit(x_train, y_train)

# Best parameters & score
print("Best Parameters:", tuned_model.best_params_)
print("Best Cross-Validation Score:", tuned_model.best_score_)