In [20]:
import pandas as pd

In [21]:
import numpy as np

In [22]:
df = pd.read_csv("loan_dataset_20000.csv")

In [23]:
df.head(5)

,age,gender,marital_status,education_level,annual_income,monthly_income,employment_status,debt_to_income_ratio,credit_score,loan_amount,...,loan_term,installment,grade_subgrade,num_of_open_accounts,total_credit_limit,current_balance,delinquency_history,public_records,num_of_delinquencies,loan_paid_back
0,59,Male,Married,Master's,24240.19,2020.02,Employed,0.074,743,17173.72,...,36,581.88,B5,7,40833.47,24302.07,1,0,1,1
1,72,Female,Married,Bachelor's,20172.98,1681.08,Employed,0.219,531,22663.89,...,60,573.17,F1,5,27968.01,10803.01,1,0,3,1
2,49,Female,Single,High School,26181.80,2181.82,Employed,0.234,779,3631.36,...,60,76.32,B4,2,15502.25,4505.44,0,0,0,1
3,35,Female,Single,High School,11873.84,989.49,Employed,0.264,809,14939.23,...,36,468.07,A5,7,18157.79,5525.63,4,0,5,1
4,63,Other,Single,Other,25326.44,2110.54,Employed,0.260,663,16551.71,...,60,395.50,D5,1,17467.56,3593.91,2,0,2,1

In [24]:
df.shape

(20000, 22)

In [25]:
df.columns

Index(['age', 'gender', 'marital_status', 'education_level', 'annual_income',
       'monthly_income', 'employment_status', 'debt_to_income_ratio',
       'credit_score', 'loan_amount', 'loan_purpose', 'interest_rate',
       'loan_term', 'installment', 'grade_subgrade', 'num_of_open_accounts',
       'total_credit_limit', 'current_balance', 'delinquency_history',
       'public_records', 'num_of_delinquencies', 'loan_paid_back'],
      dtype='object')

In [26]:
df.dtypes

age                       int64
gender                   object
marital_status           object
education_level          object
annual_income           float64
monthly_income          float64
employment_status        object
debt_to_income_ratio    float64
credit_score              int64
loan_amount             float64
loan_purpose             object
interest_rate           float64
loan_term                 int64
installment             float64
grade_subgrade           object
num_of_open_accounts      int64
total_credit_limit      float64
current_balance         float64
delinquency_history       int64
public_records            int64
num_of_delinquencies      int64
loan_paid_back            int64
dtype: object

In [27]:
df.describe()

,age,annual_income,monthly_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,loan_term,installment,num_of_open_accounts,total_credit_limit,current_balance,delinquency_history,public_records,num_of_delinquencies,loan_paid_back
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,48.027000,43549.637765,3629.136466,0.177019,679.25695,15129.300909,12.400627,43.22280,455.625794,5.011800,48649.824769,24333.394631,1.990150,0.061800,2.489150,0.799900
std,15.829352,28668.579671,2389.048326,0.105059,69.63858,8605.405513,2.442729,11.00838,274.622125,2.244529,32423.378128,22313.845395,1.474945,0.285105,1.631384,0.400085
min,21.000000,6000.000000,500.000000,0.010000,373.00000,500.000000,3.140000,36.00000,9.430000,0.000000,6157.800000,496.350000,0.000000,0.000000,0.000000,0.000000
25%,35.000000,24260.752500,2021.730000,0.096000,632.00000,8852.695000,10.740000,36.00000,253.910000,3.000000,27180.492500,9592.572500,1.000000,0.000000,1.000000,1.000000
50%,48.000000,36585.260000,3048.770000,0.160000,680.00000,14946.170000,12.400000,36.00000,435.595000,5.000000,40241.615000,18334.555000,2.000000,0.000000,2.000000,1.000000
75%,62.000000,54677.917500,4556.495000,0.241000,727.00000,20998.867500,14.002500,60.00000,633.595000,6.000000,60361.257500,31743.327500,3.000000,0.000000,3.000000,1.000000
max,75.000000,400000.000000,33333.330000,0.667000,850.00000,49039.690000,22.510000,60.00000,1685.400000,15.000000,454394.190000,352177.900000,11.000000,2.000000,11.000000,1.000000

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   20000 non-null  int64
 1   gender                20000 non-null  object
 2   marital_status        20000 non-null  object
 3   education_level       20000 non-null  object
 4   annual_income         20000 non-null  float64
 5   monthly_income        20000 non-null  float64
 6   employment_status     20000 non-null  object
 7   debt_to_income_ratio  20000 non-null  float64
 8   credit_score          20000 non-null  int64
 9   loan_amount           20000 non-null  float64
 10  loan_purpose          20000 non-null  object
 11  interest_rate         20000 non-null  float64
 12  loan_term             20000 non-null  int64
 13  installment           20000 non-null  float64
 14  grade_subgrade        20000 non-null  object
 15  num_of_open_accounts  20000 non-null  int64
 16  total_credit_limit    20000 non-null  float64
 17  current_balance       20000 non-null  float64
 18  delinquency_history   20000 non-null  int64
 19  public_records        20000 non-null  int64
 20  num_of_delinquencies  20000 non-null  int64
 21  loan_paid_back        20000 non-null  int64
dtypes: float64(8), int64(8), object(6)
memory usage: 3.4+ MB

In [29]:
df.isnull().sum()

age                     0
gender                  0
marital_status          0
education_level         0
annual_income           0
monthly_income          0
employment_status       0
debt_to_income_ratio    0
credit_score            0
loan_amount             0
loan_purpose            0
interest_rate           0
loan_term               0
installment             0
grade_subgrade          0
num_of_open_accounts    0
total_credit_limit      0
current_balance         0
delinquency_history     0
public_records          0
num_of_delinquencies    0
loan_paid_back          0
dtype: int64

In [30]:
from sklearn.preprocessing import LabelEncoder

In [31]:
lb = LabelEncoder()

In [32]:
for col in df.select_dtypes(include='object').columns:    
    df[col] = lb.fit_transform(df[col])
print(df.dtypes)

age                       int64
gender                    int64
marital_status            int64
education_level           int64
annual_income           float64
monthly_income          float64
employment_status         int64
debt_to_income_ratio    float64
credit_score              int64
loan_amount             float64
loan_purpose              int64
interest_rate           float64
loan_term                 int64
installment             float64
grade_subgrade            int64
num_of_open_accounts      int64
total_credit_limit      float64
current_balance         float64
delinquency_history       int64
public_records            int64
num_of_delinquencies      int64
loan_paid_back            int64
dtype: object

In [33]:
for col in df.select_dtypes(include='float64').columns:
    df[col] = lb.fit_transform(df[col])
print(df.dtypes)

age                     int64
gender                  int64
marital_status          int64
education_level         int64
annual_income           int64
monthly_income          int64
employment_status       int64
debt_to_income_ratio    int64
credit_score            int64
loan_amount             int64
loan_purpose            int64
interest_rate           int64
loan_term               int64
installment             int64
grade_subgrade          int64
num_of_open_accounts    int64
total_credit_limit      int64
current_balance         int64
delinquency_history     int64
public_records          int64
num_of_delinquencies    int64
loan_paid_back          int64
dtype: object

In [34]:
df.head(5)

,age,gender,marital_status,education_level,annual_income,monthly_income,employment_status,debt_to_income_ratio,credit_score,loan_amount,...,loan_term,installment,grade_subgrade,num_of_open_accounts,total_credit_limit,current_balance,delinquency_history,public_records,num_of_delinquencies,loan_paid_back
0,59,1,1,2,4954,4856,0,64,743,10792,...,36,11724,9,7,10165,12638,1,0,1,1
1,72,0,1,0,3232,3171,0,209,531,14930,...,60,11554,25,5,5292,5750,1,0,3,1
2,49,0,2,1,5810,5692,0,224,779,1017,...,60,969,8,2,867,1747,0,0,0,1
3,35,0,2,1,633,625,0,254,809,8836,...,36,9167,4,7,1585,2395,4,0,5,1
4,63,2,2,3,5440,5329,0,250,663,10255,...,60,7336,19,1,1379,1212,2,0,2,1

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
x = df.drop(columns = ['loan_paid_back'])
y = df['loan_paid_back']

In [37]:
x_train, x_test , y_train , y_test = train_test_split(x,y,test_size=0.2 ,random_state=30)

In [38]:
np.round(x_train.describe(),2)

,age,gender,marital_status,education_level,annual_income,monthly_income,employment_status,debt_to_income_ratio,credit_score,loan_amount,...,interest_rate,loan_term,installment,grade_subgrade,num_of_open_accounts,total_credit_limit,current_balance,delinquency_history,public_records,num_of_delinquencies
count,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,...,16000.00,16000.00,16000.00,16000.0,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00
mean,47.94,0.52,1.44,1.06,9988.50,9799.98,0.89,166.94,679.13,8864.76,...,683.80,43.29,8361.21,14.2,5.02,10015.10,9992.89,1.99,0.06,2.49
std,15.85,0.54,0.67,1.12,5762.57,5662.52,1.38,104.72,69.63,5701.62,...,243.19,11.04,5118.86,6.2,2.26,5763.93,5735.08,1.48,0.28,1.64
min,21.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,373.00,0.00,...,0.00,36.00,0.00,0.0,0.00,1.00,0.00,0.00,0.00,0.00
25%,34.00,0.00,1.00,0.00,5030.75,4930.75,0.00,86.00,633.00,3835.75,...,517.00,36.00,3936.75,10.0,3.00,5030.75,5024.75,1.00,0.00,1.00
50%,48.00,0.00,1.00,1.00,10002.50,9793.50,0.00,149.00,679.00,8852.00,...,684.00,36.00,8337.00,14.0,5.00,10041.50,10022.50,2.00,0.00,2.00
75%,62.00,1.00,2.00,2.00,14985.25,14699.25,2.00,231.00,727.00,13788.50,...,844.00,60.00,12715.50,18.0,6.00,15023.25,14945.50,3.00,0.00,3.00
max,75.00,2.00,3.00,4.00,19945.00,19634.00,4.00,552.00,850.00,18818.00,...,1364.00,60.00,17462.00,29.0,15.00,19972.00,19955.00,11.00,2.00,11.00

In [39]:
from sklearn.preprocessing import StandardScaler

In [40]:
sc = StandardScaler()

In [41]:
x_train_sc = sc.fit_transform(x_train)

In [42]:
x_train_new = pd.DataFrame(x_train_sc , columns=x_train.columns)

In [43]:
np.round(x_train_new.describe(), 2)

,age,gender,marital_status,education_level,annual_income,monthly_income,employment_status,debt_to_income_ratio,credit_score,loan_amount,...,interest_rate,loan_term,installment,grade_subgrade,num_of_open_accounts,total_credit_limit,current_balance,delinquency_history,public_records,num_of_delinquencies
count,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,...,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00
mean,-0.00,0.00,0.00,0.00,-0.00,0.00,-0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,-0.00,0.00,0.00,0.00,-0.00,0.00
std,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
min,-1.70,-0.96,-2.15,-0.95,-1.73,-1.73,-0.65,-1.59,-4.40,-1.55,...,-2.81,-0.66,-1.63,-2.29,-2.22,-1.74,-1.74,-1.35,-0.22,-1.52
25%,-0.88,-0.96,-0.66,-0.95,-0.86,-0.86,-0.65,-0.77,-0.66,-0.88,...,-0.69,-0.66,-0.86,-0.68,-0.89,-0.86,-0.87,-0.67,-0.22,-0.91
50%,0.00,-0.96,-0.66,-0.05,0.00,-0.00,-0.65,-0.17,-0.00,-0.00,...,0.00,-0.66,-0.00,-0.03,-0.01,0.00,0.01,0.01,-0.22,-0.30
75%,0.89,0.90,0.84,0.84,0.87,0.87,0.81,0.61,0.69,0.86,...,0.66,1.51,0.85,0.61,0.44,0.87,0.86,0.68,-0.22,0.31
max,1.71,2.75,2.33,2.64,1.73,1.74,2.26,3.68,2.45,1.75,...,2.80,1.51,1.78,2.39,4.43,1.73,1.74,6.10,6.87,5.20

In [44]:
from sklearn.preprocessing import MinMaxScaler

In [45]:
mn = MinMaxScaler()

In [46]:
x_train_mn = mn.fit_transform(x_train)

In [47]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [48]:
np.round(x_train_new.describe() , 2)

,age,gender,marital_status,education_level,annual_income,monthly_income,employment_status,debt_to_income_ratio,credit_score,loan_amount,...,interest_rate,loan_term,installment,grade_subgrade,num_of_open_accounts,total_credit_limit,current_balance,delinquency_history,public_records,num_of_delinquencies
count,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,...,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00,16000.00
mean,0.50,0.26,0.48,0.26,0.50,0.50,0.22,0.30,0.64,0.47,...,0.50,0.30,0.48,0.49,0.33,0.50,0.50,0.18,0.03,0.23
std,0.29,0.27,0.22,0.28,0.29,0.29,0.34,0.19,0.15,0.30,...,0.18,0.46,0.29,0.21,0.15,0.29,0.29,0.13,0.14,0.15
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.24,0.00,0.33,0.00,0.25,0.25,0.00,0.16,0.55,0.20,...,0.38,0.00,0.23,0.34,0.20,0.25,0.25,0.09,0.00,0.09
50%,0.50,0.00,0.33,0.25,0.50,0.50,0.00,0.27,0.64,0.47,...,0.50,0.00,0.48,0.48,0.33,0.50,0.50,0.18,0.00,0.18
75%,0.76,0.50,0.67,0.50,0.75,0.75,0.50,0.42,0.74,0.73,...,0.62,1.00,0.73,0.62,0.40,0.75,0.75,0.27,0.00,0.27
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00